body {
	background-image: url("../images/cloud_2.gif"
		);
	 background-repeat: repeat; 
}  

h1 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 40px;
	color: navy;
	text-align: center;
	text-decoration: underline;
}


#cow {

	position: absolute;
}

#lamb {

	position: absolute;
}

#horse {

	position: absolute;
}

#rooster {

	position: absolute;
}

#pig {

	position: absolute;
}

#grass {
	width: 100%;
	height: 150px; 
	background-color: green;
	padding: none;
	margin: none;
	position: fixed;
	bottom: 0; 
	clear: both;
}